.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: rgb(249, 249, 249);
    width: 1000px;
    padding-bottom: 20px;
    .logo {
        width: 50px;
        height: 50px;
        margin-left: 5px;
    }
    .header {
        height: 50px;
        display: flex;
        border-bottom: 0.1rem solid;
        margin: 16px 16px 8px 16px; 
        p {
            margin: 0px 0px 0px 20px;
            font-size: 1.5rem;
        }
    }
    .posts-list-post{
        padding: 0px 10px 0px 10px;
        .post-border{
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            border: 2px solid var(--prizm-background-stroke);
        }
        span{
            padding: 10px;
            color: var(--prizm-text-icon-secondary);
            flex: 1;
        }
    }

}