<div class="form">
  <a [routerLink]="['']">
    <button prizmButton appearanceType="outline" appearance="warning">Назад</button>
  </a>
  <form [formGroup]="postForm" (ngSubmit)="submitPost()">
    <app-selector (authorId)="setAuthorId($event)"></app-selector>

    <prizm-input-layout class="form-name" label="Название поста:">
      <input prizmInput placeholder="Заголовок" id="postTitle" formControlName="title" />
    </prizm-input-layout>

    @if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
    <div class="error">
      Название поста обязательно!
    </div>
    }

    <prizm-input-layout label="Текст поста:">
      <textarea [prizmAutoResize]="true" prizmInput placeholder="Введите заголовок" id="postText"
        formControlName="text"></textarea>
    </prizm-input-layout>

    @if (postForm.get('text')?.invalid && postForm.get('text')?.touched){
    <div class="error">
      Текст поста обязателен!
    </div>
    }
    
    <button class="button" prizmButton appearanceType="outline" appearance="success" type="submit"
      [disabled]="this.postForm.invalid || this.formData.userId == 0">Отправить</button>
  </form>
</div>